@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Moderustic:wght@300..800&family=Sue+Ellen+Francisco&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Moderustic:wght@300..800&family=Sue+Ellen+Francisco&display=swap');

:root{
     --fonte1: verdana , geneva, tahoma, sans-serif ;
     --fonte2: 'Moderustic' 'cursive';
     --fonte3: 'Edu VIC WA NT Beginner' 'cursive'
}

html body{
    background-color: darkgrey;
    min-height: 100vh;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3vw;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
}
header p{
    padding-bottom: 50px;
}

header > p > a{
     text-decoration: none;
    font-weight: bolder; 
}

a:hover{
   text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.norma{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(70, 69, 69);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 5px;
}