@charset "UTF8";

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(to right, #302DB8, #272497  );
}
main{
    width:800px ;
   border-radius:10px ;
   background-color: white;
   padding:10px ;
   margin: auto;
   box-shadow:7px 7px 15px black ;
}
p{
   text-align: justify;
}
h1{
    text-align: center;
    color: #7c5d58;
}
h2{
    color: #2B274C;
}